div.index
    div.container-fluid
        div.row
            div#left
                color: black
                //text-align: center
                background-color: #ffff66
                height: 1000px
                p.ltitle1
                    font-family: 'cwTeXHei', sans-serif;
                    font-size: 52px
                    margin: 200px 0 10px 300px
                    font-weight: bold
                p.ltitle2
                    font-family: 'cwTeXHei', sans-serif;
                    font-size: 52px
                    margin: 0 0 0 300px
                    font-weight: bold
                p.contain
                    font-family: 'cwTeXHei', sans-serif;
                    font-size: 40px
                    margin: 30px 0 0 300px
                    font-weight: bold



            div#right
                padding: 30px 20px
                color: white
                background-color: #263238
                height: 1000px
                text-align: right
                font-size: 20px
                line-height: 150%
                a
                    color: white
                    line-height: 250%
                a#about
                    &:hover
                        color: red
                        //font-family: 'Oswald', sans-serif;
                p#subtitle
                    font-size: 20px
                    text-align: center
